<div>
  <h2 id="page-heading" data-cy="DisposedStockHeading">
    <span jhiTranslate="rpgCornerApp.disposedStock.home.title">DisposedStocks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="rpgCornerApp.disposedStock.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-disposed-stock"
        [routerLink]="['/disposed-stock/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rpgCornerApp.disposedStock.home.createLabel">Egy új Disposed Stock létrehozása</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (disposedStocks?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="rpgCornerApp.disposedStock.home.notFound">No Disposed Stocks found</span>
    </div>
  }

  @if (disposedStocks && disposedStocks.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="supplie">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.disposedStock.supplie">Supplie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitPrice">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.disposedStock.unitPrice">Unit Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="disposedWare.id">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.disposedStock.disposedWare">Disposed Ware</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dispose.id">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.disposedStock.dispose">Dispose</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (disposedStock of disposedStocks; track trackId(disposedStock)) {
            <tr data-cy="entityTable">
              <td>{{ disposedStock.supplie }}</td>
              <td>{{ disposedStock.unitPrice }}</td>
              <td>
                @if (disposedStock.disposedWare) {
                  <div>
                    <a [routerLink]="['/ware', disposedStock.disposedWare.id, 'view']">{{ disposedStock.disposedWare.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (disposedStock.dispose) {
                  <div>
                    <a [routerLink]="['/dispose', disposedStock.dispose.id, 'view']">{{ disposedStock.dispose.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/disposed-stock', disposedStock.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Nézet</span>
                  </a>

                  <a [routerLink]="['/disposed-stock', disposedStock.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Szerkesztés</span>
                  </a>

                  <button type="submit" (click)="delete(disposedStock)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Törlés</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
