<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-returned-stock-heading"
        data-cy="ReturnedStockCreateUpdateHeading"
        jhiTranslate="rpgCornerApp.returnedStock.home.createOrEditLabel"
      >
        Hozzon létre, vagy módosítson Returned Stockt
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="rpgCornerApp.returnedStock.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_supplie"
            [ngbTooltip]="'rpgCornerApp.returnedStock.help.supplie' | translate"
            jhiTranslate="rpgCornerApp.returnedStock.supplie"
            >Supplie</label
          >
          <input type="number" class="form-control" name="supplie" id="field_supplie" data-cy="supplie" formControlName="supplie" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_unitPrice"
            [ngbTooltip]="'rpgCornerApp.returnedStock.help.unitPrice' | translate"
            jhiTranslate="rpgCornerApp.returnedStock.unitPrice"
            >Unit Price</label
          >
          <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" data-cy="unitPrice" formControlName="unitPrice" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_returnedWare" jhiTranslate="rpgCornerApp.returnedStock.returnedWare">Returned Ware</label>
          <select
            class="form-control"
            id="field_returnedWare"
            data-cy="returnedWare"
            name="returnedWare"
            formControlName="returnedWare"
            [compareWith]="compareWare"
          >
            <option [ngValue]="null"></option>
            @for (wareOption of returnedWaresCollection; track $index) {
              <option [ngValue]="wareOption">{{ wareOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_productReturn" jhiTranslate="rpgCornerApp.returnedStock.productReturn">Product Return</label>
          <select
            class="form-control"
            id="field_productReturn"
            data-cy="productReturn"
            name="productReturn"
            formControlName="productReturn"
            [compareWith]="compareProductReturn"
          >
            <option [ngValue]="null"></option>
            @for (productReturnOption of productReturnsSharedCollection; track $index) {
              <option [ngValue]="productReturnOption">{{ productReturnOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Mégsem</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Mentés</span>
        </button>
      </div>
    </form>
  </div>
</div>
