<div>
  <div>
    <h2 id="page-heading" data-cy="SupplierHeading">
      <span jhiTranslate="rpgCornerApp.supplier.home.title">Suppliers</span>

      <div class="d-flex justify-content-start">
        <div class="input-group me-3" style="max-width: 200px">
          <input type="text" class="form-control" placeholder="Szabad szöveg" aria-label="Keresés" [(ngModel)]="searchTerm" />
        </div>
        <button class="btn btn-info me-2" (click)="search(searchTerm)" [disabled]="isLoading">
          <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
          <span jhiTranslate="rpgCornerApp.adminAuthority.home.search">Keresés</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-supplier"
          [routerLink]="['/supplier/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="rpgCornerApp.supplier.home.createLabel">Egy új Supplier létrehozása</span>
        </button>
      </div>
    </h2>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (suppliers?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="rpgCornerApp.supplier.home.notFound">No Suppliers found</span>
    </div>
  }

  @if (suppliers && suppliers.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="companyName">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.contact.companyName">Company Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="taxNumber">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.contact.taxNumber">Tax Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (supplier of suppliers; track trackId(supplier)) {
            <tr data-cy="entityTable">
              <td>{{ supplier.companyName }}</td>
              <td>{{ supplier.taxNumber }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/supplier', supplier.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Szerkesztés</span>
                  </a>

                  <button type="submit" (click)="delete(supplier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Törlés</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
