<div>
  <h2 id="page-heading" data-cy="PurchasedStockHeading">
    <span jhiTranslate="rpgCornerApp.purchasedStock.home.title">PurchasedStocks</span>

    <div class="d-flex justify-content-end" *ngIf="isVisible">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="rpgCornerApp.purchasedStock.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-purchased-stock"
        [routerLink]="['/purchased-stock/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rpgCornerApp.purchasedStock.home.createLabel">Egy új Purchased Stock létrehozása</span>
      </button>
    </div>
    <div class="d-flex justify-content-end" *ngIf="!isVisible">
      <button
        [disabled]="!purchaseId"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-purchased-stock"
        [routerLink]="['/purchased-stock/' + purchaseId + '/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rpgCornerApp.purchasedStock.home.createLabel">Egy új Purchased Stock létrehozása</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (purchasedStocks?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="rpgCornerApp.purchasedStock.home.notFound">No Purchased Stocks found</span>
    </div>
  }

  @if (purchasedStocks && purchasedStocks.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="supplie">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.purchasedStock.supplie">Supplie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitPrice">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.purchasedStock.unitPrice">Unit Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="purchasedWare.id">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.purchasedStock.purchasedWare">Purchased Ware</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="purchase.id">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.purchasedStock.purchase">Purchase</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (purchasedStock of purchasedStocks; track trackId(purchasedStock)) {
            <tr data-cy="entityTable">
              <td>{{ purchasedStock.supplie }}</td>
              <td>{{ purchasedStock.unitPrice }}</td>
              <td>
                @if (purchasedStock.purchasedWare) {
                  <div>
                    <a [routerLink]="['/ware', purchasedStock.purchasedWare.id, 'view']">{{ purchasedStock.purchasedWare.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (purchasedStock.purchase) {
                  <div>
                    <a [routerLink]="['/purchase', purchasedStock.purchase.id, 'view']">{{ purchasedStock.purchase.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/purchased-stock', purchasedStock.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Szerkesztés</span>
                  </a>

                  <button type="submit" (click)="delete(purchasedStock)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Törlés</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
