<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate [formGroup]="editForm">
      <h2 id="jhi-purchase-heading" data-cy="PurchaseCreateUpdateHeading" jhiTranslate="rpgCornerApp.purchase.home.createOrEditLabel">
        Hozzon létre, vagy módosítson Purchaset
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="rpgCornerApp.purchase.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_purchaseDate"
            [ngbTooltip]="'rpgCornerApp.purchase.help.purchaseDate' | translate"
            jhiTranslate="rpgCornerApp.purchase.purchaseDate"
            >Purchase Date</label
          >
          <div class="input-group">
            <input
              id="field_purchaseDate"
              data-cy="purchaseDate"
              type="text"
              class="form-control"
              name="purchaseDate"
              ngbDatepicker
              #purchaseDateDp="ngbDatepicker"
              formControlName="purchaseDate"
            />
            <button type="button" class="btn btn-secondary" (click)="purchaseDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_purchasedByUser" jhiTranslate="rpgCornerApp.purchase.purchasedByUser"
            >Purchased By User</label
          >
          <select
            class="form-control"
            id="field_purchasedByUser"
            data-cy="purchasedByUser"
            name="purchasedByUser"
            formControlName="purchasedByUser"
            [compareWith]="compareUser"
          >
            @if (!editForm.get('purchasedByUser')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.firstName }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['purchasedByUser'])!.invalid &&
          (editForm.get(['purchasedByUser'])!.dirty || editForm.get(['purchasedByUser'])!.touched)
        ) {
          <div>
            @if (editForm.get(['purchasedByUser'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ez a mező kötelező.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_purchasedFromSupplier" jhiTranslate="rpgCornerApp.purchase.purchasedFromSupplier"
            >Purchased From Supplier</label
          >
          <select
            class="form-control"
            id="field_purchasedFromSupplier"
            data-cy="purchasedFromSupplier"
            name="purchasedFromSupplier"
            formControlName="purchasedFromSupplier"
            [compareWith]="compareSupplier"
          >
            @if (editForm.get(['purchasedFromSupplier'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (supplierOption of suppliersSharedCollection; track $index) {
              <option [ngValue]="supplierOption">{{ supplierOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['purchasedFromSupplier'])!.invalid &&
          (editForm.get(['purchasedFromSupplier'])!.dirty || editForm.get(['purchasedFromSupplier'])!.touched)
        ) {
          <div>
            @if (editForm.get(['purchasedFromSupplier'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ez a mező kötelező.</small>
            }
          </div>
        }
      </div>
      <jhi-purchased-stock [isVisible]="false" [purchaseId]="editForm.get(['id'])!.value"></jhi-purchased-stock>
      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Mégsem</span>
        </button>

        <button
          (click)="save()"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Mentés</span>
        </button>
      </div>
    </form>
  </div>
</div>
