<div>
  <h2 id="page-heading" data-cy="SaleHeading">
    <span jhiTranslate="rpgCornerApp.sale.home.title">Sales</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="rpgCornerApp.sale.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sale"
        [routerLink]="['/sale/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rpgCornerApp.sale.home.createLabel">Egy új Sale létrehozása</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (sales?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="rpgCornerApp.sale.home.notFound">No Sales found</span>
    </div>
  }

  @if (sales && sales.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id"><span jhiTranslate="rpgCornerApp.sale.id">ID</span> <fa-icon icon="sort"></fa-icon></th>

            <th scope="col" jhiSortBy="soldDate">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.sale.soldDate">Sold Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="soldByUser.id">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.sale.soldByUser">Sold By User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="soldForCustomer.id">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.sale.soldForCustomer">Sold For Customer</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sale of sales; track trackId(sale)) {
            <tr data-cy="entityTable">
              <td>
                {{ sale.id }}
              </td>
              <td>{{ sale.soldDate | formatMediumDate }}</td>
              <td>
                {{ sale.soldByUser?.firstName }}
              </td>
              <td>
                @if (sale.soldForCustomer) {
                  <div>
                    <a [routerLink]="['/customer', sale.soldForCustomer.id, 'edit']">{{ sale.soldForCustomer.contact?.companyName }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/sale', sale.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Nézet</span>
                  </a>

                  <a [routerLink]="['/sale', sale.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Szerkesztés</span>
                  </a>

                  <button type="submit" (click)="delete(sale)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Törlés</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
