<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-category-heading" data-cy="CategoryCreateUpdateHeading" jhiTranslate="rpgCornerApp.category.home.createOrEditLabel">
        Hozzon létre, vagy módosítson Categoryt
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="rpgCornerApp.category.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_active"
            [ngbTooltip]="'rpgCornerApp.category.help.active' | translate"
            jhiTranslate="rpgCornerApp.category.active"
            >Active</label
          >
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_categoryType"
            [ngbTooltip]="'rpgCornerApp.category.help.categoryType' | translate"
            jhiTranslate="rpgCornerApp.category.categoryType"
            >Category Type</label
          >
          <select class="form-control" name="categoryType" formControlName="categoryType" id="field_categoryType" data-cy="categoryType">
            <option [ngValue]="null">{{ 'rpgCornerApp.CategoryTypeEnum.null' | translate }}</option>
            @for (categoryTypeEnum of categoryTypeEnumValues; track $index) {
              <option [value]="categoryTypeEnum">{{ 'rpgCornerApp.CategoryTypeEnum.' + categoryTypeEnum | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_description"
            [ngbTooltip]="'rpgCornerApp.category.help.description' | translate"
            jhiTranslate="rpgCornerApp.category.description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mainCategory" jhiTranslate="rpgCornerApp.category.mainCategory">Fő kategória</label>
          <select
            class="form-control"
            id="field_mainCategory"
            data-cy="mainCategory"
            name="mainCategory"
            formControlName="mainCategory"
            [compareWith]="compareCategory"
          >
            <option [ngValue]="null"></option>
            @for (categoryOption of categoriesSharedCollection; track $index) {
              <option [ngValue]="categoryOption">{{ categoryOption.description }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Mégsem</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Mentés</span>
        </button>
      </div>
    </form>
  </div>
</div>
