<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-customer-heading" data-cy="CustomerCreateUpdateHeading" jhiTranslate="rpgCornerApp.customer.home.createOrEditLabel">
        Hozzon létre, vagy módosítson Customert
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="rpgCornerApp.customer.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_contact" jhiTranslate="rpgCornerApp.customer.contact">Contact</label>
          <select
            class="form-control"
            id="field_contact"
            data-cy="contact"
            name="contact"
            formControlName="contact"
            [compareWith]="compareContact"
          >
            @if (editForm.get(['contact'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (contactOption of contactsCollection; track $index) {
              <option [ngValue]="contactOption">{{ contactOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['contact'])!.invalid && (editForm.get(['contact'])!.dirty || editForm.get(['contact'])!.touched)) {
          <div>
            @if (editForm.get(['contact'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ez a mező kötelező.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Mégsem</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Mentés</span>
        </button>
      </div>
    </form>
  </div>
</div>
