<div class="d-flex justify-content-center">
  <div class="col-8">
    <h2 id="jhi-customer-heading" data-cy="CustomerCreateUpdateHeading" jhiTranslate="rpgCornerApp.customer.home.createOrEditLabel">
      Hozzon létre, vagy módosítson Customert
    </h2>
  </div>
</div>
<jhi-contact-update [isVisible]="false"></jhi-contact-update>
<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Mégsem</span>
        </button>

        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Mentés</span>
        </button>
      </div>
    </form>
  </div>
</div>
