<div>
  <h2 id="page-heading" data-cy="SoldStockHeading">
    <span *ngIf="isVisible">Értékesítés</span>
    <span jhiTranslate="rpgCornerApp.soldStock.home.aruTitle" *ngIf="!isVisible">SoldStocks</span>

    <div class="d-flex justify-content-start" *ngIf="isVisible">
      <!-- Dátum intervallum szűrők -->
      <div class="input-group me-3" style="max-width: 300px">
        <input type="date" class="form-control" placeholder="Kezdő dátum" [(ngModel)]="startDate" />
        <span class="input-group-text">-</span>
        <input type="date" class="form-control" placeholder="Befejező dátum" [(ngModel)]="endDate" />
      </div>
      <button class="btn btn-info me-2" (click)="search()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="rpgCornerApp.adminAuthority.home.search">Keresés</span>
      </button>

      <button
        *ngIf="!isVisible"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sold-stock"
        [routerLink]="['/sold-stock/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rpgCornerApp.soldStock.home.createLabel">Egy új Sold Stock létrehozása</span>
      </button>
    </div>
    <div class="d-flex justify-content-end" *ngIf="!isVisible">
      <button
        [disabled]="!salesId"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sold-stock"
        [routerLink]="['/sold-stock/' + salesId + '/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rpgCornerApp.soldStock.home.createAruLabel">Egy új Sold Stock létrehozása</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (soldStocks?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="rpgCornerApp.soldStock.home.notFound">No Sold Stocks found</span>
    </div>
  }

  @if (soldStocks && soldStocks.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="soldWare.id">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.soldStock.soldWare">Sold Ware</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitPrice" *ngIf="!isVisible">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.soldStock.unitPrice">Unit Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="returnedSupplie" *ngIf="!isVisible">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.soldStock.returnedSupplie">Returned Supplie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <th scope="col" jhiSortBy="supplie">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.soldStock.supplie">Supplie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          @for (soldStock of soldStocks; track trackId(soldStock)) {
            <tr data-cy="entityTable">
              <td>
                @if (soldStock.soldWare) {
                  <div>
                    <a [routerLink]="['/ware', soldStock.soldWare.id, 'view']">{{ soldStock.soldWare.description }}</a>
                  </div>
                }
              </td>
              <td *ngIf="!isVisible">{{ soldStock.unitPrice }}</td>
              <td *ngIf="!isVisible">{{ soldStock.returnedSupplie }}</td>
              <td>{{ soldStock.supplie }}</td>

              <td class="text-end">
                <div class="btn-group">
                  <a
                    *ngIf="!isVisible"
                    [routerLink]="['/sold-stock', soldStock.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Szerkesztés</span>
                  </a>

                  <button
                    *ngIf="!isVisible"
                    type="submit"
                    (click)="delete(soldStock)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Törlés</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
