<div>
  <h2 id="page-heading" data-cy="DisposeHeading">
    <span jhiTranslate="rpgCornerApp.dispose.home.title">Disposes</span>

    <div class="d-flex justify-content-start">
      <div class="input-group me-3" style="max-width: 200px">
        <input type="text" class="form-control" placeholder="Szabad szöveg" aria-label="Keresés" [(ngModel)]="searchTerm" />
      </div>
      <!-- Dátum intervallum szűrők -->
      <div class="input-group me-3" style="max-width: 300px">
        <input type="date" class="form-control" placeholder="Kezdő dátum" [(ngModel)]="startDate" />
        <span class="input-group-text">-</span>
        <input type="date" class="form-control" placeholder="Befejező dátum" [(ngModel)]="endDate" />
      </div>
      <button class="btn btn-info me-2" (click)="search(searchTerm)" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="rpgCornerApp.adminAuthority.home.search">Keresés</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dispose"
        [routerLink]="['/dispose/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rpgCornerApp.dispose.home.createLabel">Egy új Dispose létrehozása</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (disposes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="rpgCornerApp.dispose.home.notFound">No Disposes found</span>
    </div>
  }

  @if (disposes && disposes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="disposeDate">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.dispose.disposeDate">Dispose Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="note">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.dispose.note">Note</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="disposedByUser.id">
              <div class="d-flex">
                <span jhiTranslate="rpgCornerApp.dispose.disposedByUser">Disposed By User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (dispose of disposes; track trackId(dispose)) {
            <tr data-cy="entityTable">
              <td>{{ dispose.disposeDate | formatMediumDate }}</td>
              <td>{{ dispose.note }}</td>
              <td>
                {{ dispose.disposedByUser?.firstName }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/dispose', dispose.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Szerkesztés</span>
                  </a>

                  <button type="submit" (click)="delete(dispose)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Törlés</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
