<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Üdvözöljük, Java Hipster!</span> (Rpgcorner)</h1>

    <p class="lead" jhiTranslate="home.subtitle">Ez a nyitóképernyőd</p>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: accountRef.login }"
              >Ön &quot;{{ accountRef.login }}&quot;-ként lépett be.</span
            >
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.authenticated.prefix">Ha be akar </span>
          <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">lépni</a
          ><span jhiTranslate="global.messages.info.authenticated.suffix"
            >, kipróbálás céljából használható felhasználók:<br />- Adminisztrátor (azonosító=&quot;admin&quot; és a
            jelszó=&quot;admin&quot;) <br />- Felhasználó (azonosító=&quot;user&quot; és jelszó=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">Nincs még hozzáférése?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Regisztráljon</a>
        </div>
      }
    </div>

    <p jhiTranslate="home.question">Ha bármi kérdése van a JHipster-ről:</p>

    <ul>
      <li>
        <a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage"
          >JHipster honlapja</a
        >
      </li>
      <li>
        <a
          href="https://stackoverflow.com/tags/jhipster/info"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.stackoverflow"
          >JHipster a Stack Overflow-n</a
        >
      </li>
      <li>
        <a
          href="https://github.com/jhipster/generator-jhipster/issues?state=open"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.bugtracker"
          >JHipster hibakövető</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat"
          >JHipster public chat room</a
        >
      </li>
      <li>
        <a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow"
          >lépjen kapcsolatba &#64;jhipster -rel a Twitter-en</a
        >
      </li>
    </ul>

    <p>
      <span jhiTranslate="home.like">Ha tetszik a JHipster, ne feledjen csillagot adni a</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github"
        >GitHub-on</a
      >!
    </p>
  </div>
</div>
