<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-4 mb-4"><span jhiTranslate="home.title">RPG Corner</span></h1>

      <div>
        @if (account() !== null) {
          <div class="alert alert-success">
            @if (account(); as accountRef) {
              <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: accountRef.login }">
                Ön &quot;{{ accountRef.login }}&quot;-ként lépett be.
              </span>
            }
          </div>
        } @else {
          <div class="alert alert-warning d-flex justify-content-center">
            <span class="me-3">
              <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">Belépés</a>
            </span>
            <span>
              <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Regisztráció</a>
            </span>
          </div>
        }
      </div>
    </div>
  </div>
</div>
